html, body {
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100px;
  right: 0px;
  background: #ffe;
}

.toolbar {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 250px;
  bottom: 100px;
  background: #eff;
}

.footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100px;
  background: #fef;
}

.toolbar button {
  width: 95px;
  height: 60px;
  margin-left: 20px;
}

.toolbar .img {
  position: relative;
  width: 100%;
  height: 40px;
  background-position: center -8px;
  background-repeat: no-repeat;
}

.toolbar .overlay {
  position: relative;
  width: 100%;
  height: 40px;
  background-position: center -8px;
  background-repeat: no-repeat;
}

.toolbar .img.male {
  background-image: url('male-20.png');
}

.toolbar .img.female {
  background-image: url('female-20.png');
}

.toolbar .img.nogender {
  background-image: url('nogender-20.png');
}

.toolbar .img.pregloss {
  background-image: url('pregloss-20.png');
}

.toolbar .img.carrier {
  background-image: url('nogender-20.png');
}

.toolbar .overlay.carrier {
  background-image: url('carrier-dot-20.png');
}

.toolbar .img.affected {
  background-image: url('nogender-aff-20.png');
}

.toolbar .img.dead {
  background-image: url('nogender-20.png');
}

.toolbar .overlay.dead {
  background-image: url('dead-slash-20.png');
}

.toolbar .img.proband {
  background-image: url('nogender-20.png');
}

.toolbar .overlay.proband {
  background-image: url('proband-arrow-20.png');
  background-position: center -11px;
}

.toolbar .img.twin {
  background-image: url('nogender-20.png');
  background-position: 4px -8px;
}

.toolbar .overlay.twin {
  background-image: url('nogender-20.png');
  background-position: 34px -8px;
  opacity: 0.5;
}

.toolbar .img.pregnancy {
  background-image: url('nogender-20.png');
}

.toolbar .overlay.pregnancy:after {
  content: "P";
  position: relative;
  top: 8px;
  left: 1px;
}

.toolbar .caption {
  margin-top: -8px;
}

.pedigree_frame_wrapper {
  position: absolute;
  left: 250px;
  top: 100px;
  right: 0px;
  bottom: 100px;
}

.pedigree_frame {
  width: 100%;
  height: 100%;
  border: none;
}

.pedigree_frame::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 11px;
  height: 11px;
}

.pedigree_frame::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .3);
}

.pedigree .row * {
  position: absolute;
  outline: none;
}

.pedigree .row .scale20 {
  width: 44px;
  height: 44px;
}

.pedigree .row .male.scale20 {
  background-image: url('male-20.png');
}

.pedigree .row .male.affected.scale20 {
  background-image: url('male-aff-20.png');
}

.pedigree .row .female.scale20 {
  background-image: url('female-20.png');
}

.pedigree .row .female.affected.scale20 {
  background-image: url('female-aff-20.png');
}

.pedigree .row .nogender.scale20 {
  background-image: url('nogender-20.png');
}

.pedigree .row .nogender.affected.scale20 {
  background-image: url('nogender-aff-20.png');
}

.pedigree .row .pregloss.scale20 {
  background-image: url('pregloss-20.png');
}

.pedigree .row .pregloss.affected.scale20 {
  background-image: url('pregloss-aff-20.png');
}

.pedigree .row .carrier.scale20 .carrier_dot {
  width: 44px;
  height: 44px;
  background-image: url('carrier-dot-20.png');
}

.pedigree .row .proband.scale20 .proband_arrow {
  width: 44px;
  height: 44px;
  background-image: url('proband-arrow-20.png');
}

.pedigree .row .dead.scale20 .dead_slash {
  width: 44px;
  height: 44px;
  background-image: url('dead-slash-20.png');
}

.pedigree .row .scale20.selected .highlight {
  width: 44px;
  height: 44px;
  opacity: 0.2;
}

.pedigree .row .scale20.selected:focus .highlight {
  opacity: 0.6;
}

.pedigree .row .male.scale20.selected .highlight {
  background-image: url('male-selected-20.png');
}

.pedigree .row .female.scale20.selected .highlight {
  background-image: url('female-selected-20.png');
}

.pedigree .row .nogender.scale20.selected .highlight {
  background-image: url('nogender-selected-20.png');
}

.pedigree .row .pregloss.scale20.selected .highlight {
  background-image: url('pregloss-selected-20.png');
}

.pedigree .row .rowmarker.scale20.selected {
  background-image: url('rowmarker-selected-20.png');
}

.pedigree .row .rowmarker {
  text-align: center;
  width: 44px;
  height: 44px;
  line-height: 44px;
  font-family: arial,helvetica,sans-serif;
  font-size: 14pt;
  font-weight: bold;
}

.pedigree .hline {
  position: absolute;
  border-top: 1px solid #000;
  height: 1px;
}

.pedigree .vline {
  position: absolute;
  border-left: 1px solid #000;
  width: 1px;
}

.pedigree .diagonal_line {
  position: absolute;
  height: 0px;
  border-top: 1px solid #000;
}

.pedigree .row *.scale20 .ctr_label {
  position: relative;
  text-align: center;
  line-height: 44px;
  font-family: arial,helvetica,sans-serif;
  font-size: 10pt;
}

.pedigree .row * .text_label {
  text-align: center;
  top: 44px;
  left: -40px;
  width: 124px;
  font-family: arial,helvetica,sans-serif;
  font-size: 10pt;
  cursor: pointer;
}

.pedigree .row .selected .text_label {
  background-color: rgba(255, 255, 100, 0.2);
}

.pedigree .row .selected:focus .text_label {
  background-color: rgba(255, 255, 100, 0.5);
}

.pedigree .row * .accessible_label {
  height: 1px;
  overflow: hidden;
}

.pedigree .row * .coords {
  color: #0cf;
  top: -4px;
  left: -8px;
  text-align: center;
  font-family: arial,helvetica,sans-serif;
  font-size: 10pt;
  cursor: pointer;
}

.pedigree .row [tabindex] {
  cursor: pointer;
}

.dialog {
  position: absolute;
  background: #fff;
  top: 100px;
  left: 200px;
  width: 500px;
  padding: 2em;
  border: 1px solid #000;
  border-radius: 2px;
  box-shadow: 0px 0px 10px #666;
}

.dialog label div {
  font-family: arial,helvetica,sans-serif;
  font-size: 14pt;
  font-weight: bold;
}

.dialog h2 {
  margin: 0;
  font-family: arial,helvetica,sans-serif;
  font-size: 14pt;
  font-weight: bold;
}

.dialog textarea,button,input {
  margin-top: 1em;
}

.dialog textarea {
  width: 500px;
}

.dialog button {
  padding: 0.5em 1em;
  margin-right: 1em;
  font-family: arial,helvetica,sans-serif;
  font-size: 12pt;
}
